section#slot_ms {
    border-radius: 1.2rem;
    background-color: var(--main-light-color);
    outline: .25em var(--gold-color) groove;
    text-align: center;
    display: grid;
    justify-content: center;
    width: 100%;
}

#slot_ms_ul {
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 2rem;
    
    > li {
        background-color: var(--main-color);
        scroll-snap-align: center;
        padding: 1rem 2rem;
        border-radius: 1.2rem;
        width: min(40rem, 50vw);
        aspect-ratio: 4 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        align-items: center;
        
        > div {
            border-radius: 1.2rem;
            background-color: #fff;
            display: grid;
            align-items: center;
            height: 8rem;
            padding: .5rem;
            gap: .5rem;
            overflow: hidden;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;

            > p {
                scroll-snap-align: center;
                height: fit-content;
                background-color: lightblue;
                border-radius: .5em;
                padding-block: 1em;
                font-size: 1.6rem;
                text-shadow: none;
            }
        }
        
        > h3, button {
                grid-column: span 3;
        }
    }
}

section#blackjack {
    position: relative;
    padding: 0 2rem 2rem 2rem;

    > canvas {
        background-color: #008080;
        width: 100%;
        border-radius: 1.2rem;
        margin-top: 2rem;

    }

    > button {
        position: absolute;
        left: 50%;
        top: calc(50% + 1rem);
        transform: translate(-50%, -50%);
        font-size: 1.6rem;
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    padding-top: 2rem;
    text-align: center;
}

button {
    background-color: var(--diamond-color);
    border: .25em groove var(--gold-color);
    border-radius: 1.2em;
    padding: 1em 2em;
}

button:hover, button:focus {
    border-style: solid;
}

header {
    position: relative;
}

header #money {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

header #reset {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: .8rem;
    padding: .5em 1em;
    background-color: chocolate;
}